body {
    height: 100%;
    position: fixed;
    width: 100%;
}

body {
	font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    font-weight: 400;
    background-color: #EEEEEE;
    background-color: #2b6e80 20%;
    //background-image: radial-gradient(farthest-side ellipse at 10% 0, #2b6e80 20%, #0c3252);
    //background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #2b6e80 20%, #0c3252);
    //background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #2b6e80 20%, #0c3252);
    //background-attachment: fixed, fixed;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3000;
    background-color: rgba(50,50,50,.5);
    top: 0;
    left: 0;
}

.modal-content {
    position: fixed;
    height: 50%;
    width: 50%;
    top: 10%;
    left: 25%;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.height-100 {
    height: 100%;
}

.row {
    padding: 0;
    margin: 0;
}
.row > *[class^="col-"] {
    padding: 0;
}

.shadow-right {
    background-color: #fff;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar-btn {
    width: 33.333333%;
    border: none;
}

.icon-spin {
    animation: spin 2s infinite linear; 
}

.loanding-app {
    font-size: 5rem;
    position: fixed;
    top: 30%;
    left: 48%;
    animation: scale 4s infinite linear;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}


@keyframes scale {
    0%{transform: scale(1, 1) rotate(0deg); color: green; }
    50%{transform: scale(2, 2) rotate(180deg); }
    100%{transform: scale(1, 1) rotate(360deg); color: blue}
}