<h2 class="d-flex justify-content-end">
	<span class="mr-auto">Libros</span>
	<i (click)="showModalCreateBook = true" class="material-icons">note_add</i>
</h2>

<ul *ngFor="let book of books" class="list-group">
	<li class="list-group-item d-flex justify-content-end" (click)="selectBook(book)" [ngClass]="{'active': book === bookSelected }">
		<span class="mr-auto">{{book.name}}</span>
		<i *ngIf="book === bookSelected" (click)="showActions($event, book)" class="material-icons">settings</i>
		<ul *ngIf="book === bookSelected && shownActions" class="list-group" style="position: fixed; color: black">
			<li class="list-group-item"><i (click)="showModalEditBook = true" class="material-icons">mode_edit</i></li>
			<li class="list-group-item"><i (click)="showModalRemoveBook = true" class="material-icons">delete_forever</i></li>
		</ul>
	</li>
</ul>

<structure-component
*ngIf="bookSelected"
[book]="bookSelected"
>
</structure-component>

<modal-create-book-component 
*ngIf="showModalCreateBook" 
(newBook)="saveBook($event)"
(closeModal)="closeModals()">
</modal-create-book-component>

<modal-edit-book-component
[book]="bookSelected"
*ngIf="showModalEditBook"
(editedBook)="updateBook($event)"
(closeModal)="closeModals()">
</modal-edit-book-component>

<modal-remove-book-component
[book]="bookSelected"
*ngIf="showModalRemoveBook"
(removeBook)="removeBook($event)"
(closeModal)="closeModals()">
</modal-remove-book-component>